// Variables
$color-primary: #007aeb;
$color-secondary: blue;
$color-grey--light: #f5f5f5;
$color-grey--dark: #545454;

$font-headings: Arial;
$font-body: Arial;

// Mixins

@mixin displayFlex(
	$direction: row,
	$main: flex-start,
	$cross: flex-start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $main;
	align-items: $cross;
}
@mixin mainBorder($color: $color-primary, $width: 0.5rem, $rounded: 1rem) {
	border: $width solid $color;
	border-radius: $rounded;
}
@mixin linearGradientDarken($direction: to right bottom) {
	background-image: linear-gradient(
		$direction,
		transparent,
		rgba(0, 0, 0, 0.35)
	);
}
@mixin transitionStandard {
	transition: all 0.2s ease;
}
@mixin cssHover {
	transform: scale(1.03);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

// Base
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-family: $font-body;
}
header {
	@include displayFlex(column, flex-start, center);
	@include linearGradientDarken;
	padding: 6.5rem 0;
	background-color: $color-primary;
	& > * {
		color: white;
	}
}
main {
	@include displayFlex(row, space-around, stretch);
	margin: 0 auto;
	max-width: 88vw;
	padding: 65px 0;
	form {
		@include displayFlex(column);
		@include mainBorder;
		font-size: 2rem;

		fieldset {
			@include displayFlex(column);
			padding: 2rem;

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
			legend {
				color: $color-primary;
				font-weight: 700;
			}
			label {
				margin-bottom: 1rem;
			}
			input {
				margin-bottom: 2rem;
				@include mainBorder($color-grey--dark, 1px, 0);
				padding: 1rem;
			}
		}
		button {
			@include transitionStandard;
			@include mainBorder;
			font-size: 1.6rem;
			padding: 1rem 2rem;
			background-color: $color-primary;
			color: white;
			// margin-top: auto;
			margin-top: 3rem;
			cursor: pointer;
			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
				@include mainBorder;
				@include cssHover;
				color: $color-primary;
			}
		}
		output {
			@include mainBorder(transparent, 0);
			@include displayFlex(column, space-around, stretch);
			background-color: $color-primary;
			@include linearGradientDarken;
			align-self: center;
			padding: 3rem;
			margin: 1rem 0;
			& * {
				color: white;
			}
		}
	}
}

footer {
	@include displayFlex(column, center, stretch);
	@include linearGradientDarken;
	padding: 6.5rem 0;
	background-color: $color-primary;
	& > * {
		color: white;
		text-align: center;
	}
	a {
		color: white;
		font-weight: 700;
		&:hover,
		&:focus,
		&:active {
			font-size: 1.8rem;
			@include transitionStandard;
		}
	}
}

.hidden {
	display: none;
}

.form {
	&__header {
		@include linearGradientDarken;
		background-color: $color-primary;
		padding: 2rem;
		align-self: stretch;
		h2 {
			color: white;
			text-align: center;
		}
	}
	&__content {
		@include displayFlex(column);
		padding: 3rem;
	}
}
