button {
	@include transitionStandard;
	@include mainBorder;
	font-size: 1.6rem;
	padding: 1rem 2rem;
	background-color: $color-primary;
	color: white;
	margin-top: 3rem;
	cursor: pointer;
	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		@include mainBorder;
		@include cssHover;
		color: $color-primary;
	}
}
#reset {
	margin: 0;
	@extend button;
}
