footer {
	@include displayFlex(column, center, stretch);
	@include linearGradientDarken;
	padding: 6.5rem 0;
	background-color: $color-primary;
	& > * {
		color: white;
		text-align: center;
	}
	a {
		color: white;
		font-weight: 700;
		&:hover,
		&:focus,
		&:active {
			font-size: 1.8rem;
			@include transitionStandard;
		}
	}
}
