.form {
	background-color: white;
	@include displayFlex(column);
	&__header {
		@include linearGradientDarken;
		background-color: $color-secondary;
		padding: 2rem;
		align-self: stretch;
		h2 {
			color: white;
			text-align: center;
		}
	}
	&__content {
		@include displayFlex(column, flex-start, stretch);
		padding: 3rem;
		&--fields {
			@include displayFlex(row, space-around);
		}
	}
	button {
		margin: auto 1em 1em 1em;
		align-self: start;
	}
	.answer {
		align-self: start;
	}
}

#bmr-calculator {
	@include displayFlex(column, flex-start, stretch);
	width: calc(80rem);
	.form__content {
		@include displayFlex(row, space-between);
	}
}
#modifiers {
	.form__content {
		& > *:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}
