@use '../abstracts/variables';
@use '../abstracts/mixins';

header {
	background-color: variables.$color-secondary;
	@include mixins.linearGradientDarken;
	padding: 6.5rem 2rem;
	& > * {
		color: white;
		text-align: center;
	}
	h1 {
		margin-bottom: 1em;
	}
}
