output {
	@include mainBorder(transparent, 0);
	@include displayFlex(column, space-around, stretch);
	background-color: $color-primary;
	@include linearGradientDarken;
	padding: 3rem;
	margin: 1rem;
	color: white;
	& * {
		color: white;
	}
}
