@use '../abstracts/variables';
@use '../abstracts/mixins';

.answer {
	@include mixins.displayFlex(column, flex-start, stretch);
	background-color: white;
	border-bottom: 4px solid variables.$color-primary;
	box-shadow: 2px 4px 4px 4px rgba(variables.$color-primary, 0.35);
	color: variables.$color-primary;
	padding-top: 3rem;
	position: sticky;
	top: 0;
	z-index: 4;

	& * {
		color: variables.$color-primary;
	}
	&__header {
		h2 {
			text-transform: uppercase;
			text-align: center;
			font-size: 3.2rem;
			font-weight: 700;
		}
	}
	&__container {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem;
		padding: 1rem 2rem;
		margin: 1rem auto 0 auto;
		width: 88%;
		max-width: 120rem;
		.percents {
			@include mixins.displayFlex;
			grid-row: 2 / 3;
			& > * {
				margin: 0 0.5em;
			}
			h2 {
				font-size: 2rem;
			}
		}
		.totals {
			@extend .percents;
			grid-row: 1 / 2;
		}
		input[type='reset'] {
			grid-column: 4 / 5;
			grid-row: 2 / 3;
		}
	}
}

.answer {
	@include mixins.responsive(48rem) {
		&__header {
			h2 {
				font-size: 2.4rem;
			}
		}
		&__container {
			.totals h2,
			.percents h2 {
				font-size: 1.4rem;
			}
		}
		#reset {
			margin: 1rem;
			font-size: 1rem;
		}
	}
}
