*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-family: $font-body;
	background-color: $color-secondary--light;
}

main {
	margin: 0 auto;
	max-width: 88vw;
	padding: 6.5rem 0;
	color: $color-primary;
}
section {
	margin-bottom: 2em;
}
form {
	@include mainBorder;
	font-size: 2rem;
	fieldset {
		padding: 2rem;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		legend {
			color: $color-primary;
			font-weight: 700;
		}
		label {
			margin-bottom: 1rem;
		}
	}
}
